{% load i18n %}{% load url from future %}
{% autoescape off %}
Sistema de Información Radiólogica
Recibiste este correo por que solicitaste recuperar tu contraseña, para tu cuenta en {{ site_name }}.

Por favor, ingresa ala siguiente direccion y elige una nueva contraseña:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'django.contrib.auth.views.password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

En el caso de que no lo recuerdes, tu nombre de usuario es: {{ user.username }}

Muchas gracias por usar SIR - SSU

Taller de Grado 2015

{% endautoescape %}